<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HistYahoo.Properties.Settings.ConnectionString" connectionString="Dsn=HistPrice;dbq=C:\USERS\XTREME\DOCUMENTS\VISUAL STUDIO 2010\PROJECTS\HISTYAHOO\HISTYAHOO\BIN\DEBUG;defaultdir=C:\USERS\XTREME\DOCUMENTS\VISUAL STUDIO 2010\PROJECTS\HISTYAHOO\HISTYAHOO\BIN\DEBUG;driverid=27;fil=text;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
        <add name="HistYahoo.Properties.Settings.masterConnectionString"
            connectionString="Data Source=XTREME-PC\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>